* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
}

body {
  color: #fff;
  background: #ebf2f5;
}

body, button, input, textarea {
  font-family: Nunito, sans-serif;
}